.header-1{
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -4px;
    line-height: 130px;
    text-transform: none;
    color: #2A292B;
}
.header-2{
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -1px;
    /* line-height: 130px; */
    text-transform: none;
}
.content-1{
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 28px;
    text-transform: none;
}
.content-2{
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 28px;
    text-transform: none;
}
.content-2{
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 28px;
    text-transform: none;
}

.nav-font {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    text-transform: none;
}

.nav-brand {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: none;
}

.contentArea{
    max-width: 1120px;
}

.full-height{
    min-height: 100vh
}

.half-height{
    min-height: 50vh;
}

.quarter-height{
    min-height: 25vh;
}

#home {
    background-image: url(./assets/tree-mist-fog-cloudy-34fe5410d4122039c2d2dd16229b9281.jpg);
    background-size: cover;
    background-position: center;
}
#PT-header {
    background-image: url(./assets/pexels-yan-krukau-5794024.jpg);
    background-size: cover;
    background-position: center;
}
#PT-CTA {
    background-image: url(./assets/pexels-karolina-grabowska-6629527.jpg);
    background-size: cover;
    background-position: center;
}
#consulting-header {
    background-image: url(./assets/pexels-karolina-grabowska-4498574\(1\).jpg);
    background-size: cover;
    background-position: center;
}
#consulting-CTA {
    background-image: url(./assets/pexels-judit-peter-1766604.jpg);
    background-size: cover;
    background-position: center;
}


.navbar {
    background: transparent ;
}
nav {
    background: transparent ;
}

section {
    padding:1rem
}

.card{
    border: none;
}