.header-1{
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -4px;
    line-height: 130px;
    text-transform: none;
    color: #2A292B;
}
.content-1{
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 28px;
    text-transform: none;
}

.nav-font {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    text-transform: none;
}

.nav-brand {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: none;
}
/* body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} */

.contentArea{
    max-width: 1920px;
}

.full-height{
    min-height: 100vh
}

.half-height{
    min-height: 50vh;
}

#home {
    background-image: url(./assets/tree-mist-fog-cloudy-34fe5410d4122039c2d2dd16229b9281.jpg);
    background-size: cover;
    background-position: center;
}


.btn-primary {
    /* #d2a900  */
    /* #6b001f */
    /* #005C6E */
    /* #4d004d  */
    /* #d94c00 */
    /* background-color: #d2a900;
    border-color: #d2a900; */
    /* background-color: #6b001f;
    border-color: #6b001f; */
    /* background-color: #005C6E;
    border-color: #005C6E; */
    /* background-color: #4d004d;
    border-color: #4d004d; */
    /* background-color: #d94c00;
    border-color: #d94c00; */
}

.navbar {
    background: transparent ;
}
nav {
    background: transparent ;
}